.landing-wrapper {
  /* border: solid black 1px; */
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
  z-index: -3;
}

.intro-wrapper {
  font-size: 3rem;
  width: auto;
}

.first-line {
  opacity: 0;
  animation: FadeInLeft 2s forwards;
}

.first-line #name {
  opacity: 0;
  animation: FadeInLeft 2s forwards;
  animation-delay: 1s;
  color: #c80000;
}

.second-line {
  opacity: 0;
  animation: FadeInLeft 2s forwards;
  animation-delay: 2s;
}

#learn-btn {
  border: solid black 1px;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: FadeIn 2s forwards;
  animation-delay: 3.5s;
  text-decoration: none;
  background-color: #ad0000;
  padding: 0 15px;
  color: #000;
  margin-top: 50px;
}

#learn-btn:hover {
  background-color: transparent;
  color: #c80000;
}

#page-divider-home {
  width: 100%;
  position: absolute;
}

@keyframes FadeInLeft {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.burger {
  position: absolute;
  width: 50px;
  height: 50px;
  text-align: center;
  top: 0px;
  right: 0px;
  z-index: 4;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.burger-part {
  width: 36px;
  height: 4px;
  margin-top: 8px;
  border-radius: 15px;
  background: #fff;
  /* color: black; */
  transition: 0.3s ease;
  align-self: center;
}

.burger-opened {
  transform: 0.4s ease;
  /* position: fixed; */
}

.burger-part:first-of-type {
  margin-top: 0;
}

.burger-opened .burger-part:first-of-type {
  transform: translateY(12px) rotate(45deg);
}

.burger-opened .burger-part:nth-child(2) {
  opacity: 0;
}

.burger-opened .burger-part:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
}

@media only screen and (min-width: 769px) {
  .sidenav-wrapper {
    display: none;
  }

  .burger {
    display: none;
  }
}
