.project-wrapper {
  color: white;
  text-align: center;
  padding: 20px;
  background: #af0000;
}

.project-header {
  font-size: 2rem;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
