.project-wrapper {
  color: white;
  text-align: center;
  padding: 20px;
  background: var(--blue);
}

.project-header {
  font-size: 2rem;
  margin-bottom: 15px;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}