* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  width: 100%;
  height: 100%;
  background-color: #000;
  /* Temorpary until I finish rest of Homepage */
  /* overflow: hidden; */
}

.body-no-scroll {
  overflow: hidden;
}
