.nav-wrapper {
  font-size: 1.5em;
  /* border: solid black 1px; */
  display: flex;
  justify-content: flex-end;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #000000ce;
}

.nav-wrapper ul {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  /* border: solid black 1px; */
}

.nav-wrapper ul li {
  list-style: none;
    transition: .5s;

}

.nav-wrapper ul li > .active{
  border-bottom: 1px solid white;
    transition: .2s;

}

.nav-wrapper ul li a {
  text-decoration: none;
  color: var(--blue);
}

@media only screen and (max-width: 769px) {
  .nav-wrapper {
    display: none;
  }
}
