.tsparticles-canvas-el {
  display: none;
  position: absolute;
  height: 120vh;
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%); */
}

@media only screen and (min-width: 768px) {
  .tsparticles-canvas-el {
    display: block;
  }
}
